meta:
  engine: 4.2.1
  author: hasbii
  version: raw
units:
  mcuw: 18
  mcuh: 23.5
  spacing: 0.5
  trrsw: 14
  trrsh: 6
  reset_switch_size: 6
points:
  key.tags:
    - key
  zones:
    matrix:
      anchor.shift: [150, -150]
      columns:
        c1:
        c2:
        c3.key:
          stagger: u/8
        c4.key:
          stagger: u/8
        c5.key:
          stagger: -u/8
        c6.key:
          stagger: -u/8
      rows:
        r3:
        r2:
        r1:
    thumbfan:
      anchor:
        ref: matrix_c4_r3
        shift: [0, -u-u/4]
      columns:
        c3:
          rows:
            r4.skip: true
        c4:
          rows:
            r4.skip: true
        c5:
          rows:
            r4.skip: true
          key:
        c6.key:
      rows:
        r5:
        r4:
    mcu:
      key.tags:
        - helper
      anchor:
        ref: matrix_c6_r1
        shift: [u+spacing*4, u/2-mcuh/2]
    trrs:
      key.tags:
        - trrs
      anchor:
        - ref: mcu
          shift: [2, -mcuh/2-trrsh/2-spacing*2]
    board_screw_1:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: matrix_c1_r1
          - ref: matrix_c2_r1
          - ref: matrix_c1_r2
          - ref: matrix_c2_r2
    board_screw_2:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: matrix_c1_r2
          - ref: matrix_c2_r2
          - ref: matrix_c1_r3
          - ref: matrix_c2_r3
    board_screw_3:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: matrix_c6_r1
        shift: [cx/2-spacing*2, u/2+spacing*2.5]
    board_screw_4:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: thumbfan_c5_r5
          - ref: thumbfan_c6_r5
        shift: [0, u/2]

outlines:
  _keycaps:
    - what: rectangle
      where: [key]
      size: 18
      fillet: 3
  _mcu:
    - what: rectangle
      where: [helper]
      size: [mcuw, mcuh]
  _trrs:
    - what: rectangle
      where: trrs
      size: [trrsw, trrsh]
  _reset_switch:
    - what: rectangle
      where: reset_switch
      size: [reset_switch_size, reset_switch_size]
  _board_screw:
    - what: circle
      where: [board_screw]
      radius: 4.3/2
  board:
    - what: outline
      name: _keycaps
    - what: outline
      name: _mcu
    - what: outline
      name: _trrs
    - what: outline
      name: _reset_switch
    - what: polygon
      points:
        - ref: matrix_c1_r1
          shift: [-cx/2-4*spacing, cy/2+2*spacing]
        - ref: matrix_c2_r1
          shift: [cx/2+spacing, 0]
          affect: [x]
        - ref: matrix_c3_r1
          shift: [0, cy/2+2*spacing]
          affect: [y]
        - ref: matrix_c3_r1
          shift: [cx/2+spacing, 0]
          affect: [x]
        - ref: matrix_c4_r1
          shift: [0, cy/2+2*spacing]
          affect: [y]
        - ref: thumbfan_c6_r5
          shift: [cx/2+8*spacing, 0]
          affect: [x]
        - ref: thumbfan_c6_r5
          shift: [0, -cy/2-2*spacing]
          affect: [y]
        - ref: thumbfan_c3_r5
          shift: [-cx/2-4*spacing, 0]
          affect: [x]
        - ref: thumbfan_c3_r5
          shift: [0, cy/2+2*spacing]
          affect: [y]
        - ref: matrix_c1_r3
          shift: [-cx/2-4*spacing, 0]
          affect: [x]

  preview:
    - what: outline
      name: board
    - what: outline
      name: _keycaps
      operation: stack
    - what: outline
      name: _mcu
      operation: stack
    - what: outline
      name: _board_screw
      operation: stack
    - what: outline
      name: _trrs
      operation: stack
    - what: outline
      name: _reset_switch
      operation: stack

pcbs:
  hasbii_pcb:
    template: kicad8
    outlines:
      board:
        outline: board
    footprints:
      m2_screws:
        what: ceoloide/mounting_hole_npth
        where: [board_screw]
        params:
          hole_size: 4.6
          hole_drill: 2.2
      switches:
        what: ceoloide/switch_choc_v1_v2
        where:
          - /matrix_c[1-6]_r[1-3]/
          - /thumbfan_c[3-6]_r[4-5]/
        params:
          from: "{{col.name}}"
          to: "{{colrow}}"
          choc_v1_support: false
          include_plated_holes: false
          hotswap: true
          include_stabilizer_pad: false
          reversible: true
          include_keycap: true
      diode:
        what: diode
        where: [key]
        params:
          from: "{{colrow}}"
          to: "{{row}}"
        adjust:
          shift: [3, -5]
      mcu:
        what: rp2040zero
        where:
          ref: matrix_c6_r1
          shift: [cx/2+2, -cy/2-4]
        params:
          reverse: true
          GND: GND
          GP4: r1
          GP7: r2
          GP8: r3
          GP12: r4
          GP13: r5
          GP14: c1
          GP15: c2
          GP26: c3
          GP27: c4
          GP28: c5
          GP29: c6
          GP9: DATA
      trrs:
        what: ceoloide/trrs_pj320a
        where: trrs
        params:
          reversible: true
          symmetric: true
          TP: "VCC"
          R1: "GND"
          R2: "DATA"
          SL: "GND"
        adjust:
          rotate: -90
          shift: [trrsw/2, 0]
      reset:
        what: button
        where: reset_switch
        params:
          from: GND
          to: RST

cases:
  bottom:
    - name: board
      extrude: 1
