meta:
  engine: 4.2.1
  author: hasbii
  version: raw
units:
  mcuw: 18
  mcuh: 33
  spacing: 1
  trrsw: 14
  trrsh: 6
  reset_switch_size: 6
points:
  key.tags:
    - key
  zones:
    matrix:
      anchor.shift: [150, -150]
      columns:
        c1:
        c2:
        c3.key:
          stagger: u/6
        c4.key:
          stagger: u/6
        c5.key:
          stagger: -u/6
        c6.key:
          stagger: -u/6
      rows:
        r3:
        r2:
        r1:
    thumbfan:
      anchor:
        ref: matrix_c3_r3
        shift: [u/2, -u-2]
      columns:
        c3:
          rows:
            r4.skip: true
        c4:
          rows:
            r4.skip: true
        c5:
          rows:
            r4.skip: true
          key:
            splay: -12
            origin: [-u/2, -u/2]
        c6.key:
          splay: -12
          origin: [-u/2, -u/2]
      rows:
        r5:
        r4:
    mcu:
      key.tags:
        - helper
      anchor:
        ref: matrix_c6_r1
        shift: [u+spacing*2, -spacing]
    trrs:
      key.tags:
        - trrs
      anchor:
        - ref: mcu
          shift: [2, -mcuh/2-trrsh/2-spacing*2]
    reset_switch:
      key.tags:
        - reset_switch
      anchor:
        - ref: trrs
          shift: [4, -trrsh/2-reset_switch_size/2-spacing*2]
    board_screw_1:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: matrix_c1_r1
          - ref: matrix_c2_r1
          - ref: matrix_c1_r2
          - ref: matrix_c2_r2
    board_screw_2:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: matrix_c1_r2
          - ref: matrix_c2_r2
          - ref: matrix_c1_r3
          - ref: matrix_c2_r3
    board_screw_3:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: matrix_c6_r1
        shift: [0, u/2+3.5spacing]
    board_screw_4:
      key.tags:
        - board_screw
      anchor:
        aggregate.parts:
          - ref: thumbfan_c5_r5
          - ref: thumbfan_c6_r5
        shift: [0, u/2+1.5spacing]

outlines:
  _keycaps:
    - what: rectangle
      where: [key]
      size: 18
      fillet: 3
  _mcu:
    - what: rectangle
      where: [helper]
      size: [mcuw, mcuh]
  _trrs:
    - what: rectangle
      where: trrs
      size: [trrsw, trrsh]
  _reset_switch:
    - what: rectangle
      where: reset_switch
      size: [reset_switch_size, reset_switch_size]
  _board_screw:
    - what: circle
      where: [board_screw]
      radius: 4.3/2
  board:
    - what: outline
      name: _keycaps
    - what: outline
      name: _mcu
    - what: outline
      name: _trrs
    - what: outline
      name: _reset_switch
    - what: polygon
      points:
        - ref: matrix_c1_r1
          shift: [-u/2-spacing, u/2+spacing]
        - ref: matrix_c2_r1
          shift: [u/2-spacing, 0]
          affect: [x]
        - ref: matrix_c3_r1
          shift: [0, u/2+spacing]
          affect: [y]
        - ref: matrix_c3_r1
          shift: [u/2-spacing, 0]
          affect: [x]
        - ref: matrix_c4_r1
          shift: [0, u/2+spacing]
          affect: [y]
        - ref: matrix_c4_r1
          shift: [u/2+spacing, 0]
          affect: [x]
        - ref: mcu
          shift: [mcuw/2+spacing*2, 0]
          affect: [x]
        - ref: thumbfan_c6_r4
          shift: [0, u/2-8]
          affect: [y]
        - ref: thumbfan_c6_r5
          shift: [u/2+spacing, -u/2-spacing]
        - ref: thumbfan_c5_r5
          shift: [u/2, -u/2-spacing]
        - ref: thumbfan_c4_r5
          shift: [u/2-spacing, -u/2-spacing]
        - ref: thumbfan_c3_r5
          shift: [-u/2-spacing, -u/2-spacing]
        - ref: thumbfan_c3_r5
          shift: [0, u/2-2]
          affect: [y]
        - ref: matrix_c1_r3
          shift: [-u/2-spacing, 0]
          affect: [x]

  preview:
    - what: outline
      name: board
    - what: outline
      name: _keycaps
      operation: stack
    - what: outline
      name: _mcu
      operation: stack
    - what: outline
      name: _board_screw
      operation: stack
    - what: outline
      name: _trrs
      operation: stack
    - what: outline
      name: _reset_switch
      operation: stack

pcbs:
  hasbii_pcb:
    template: kicad8
    outlines:
      board:
        outline: board
    footprints:
      m2_screws:
        what: ceoloide/mounting_hole_npth
        where: [board_screw]
        params:
          hole_size: 4.6
          hole_drill: 2.2
      switches:
        what: ceoloide/switch_choc_v1_v2
        where:
          - /matrix_c[1-6]_r[1-3]/
          - /thumbfan_c[3-6]_r[4-5]/
        params:
          from: "{{col.name}}"
          to: "{{colrow}}"
          choc_v1_support: false
          include_plated_holes: false
          hotswap: true
          include_stabilizer_pad: false
      diode:
        what: diode
        where: [key]
        params:
          from: "{{colrow}}"
          to: "{{row}}"
        adjust:
          shift: [3, -5]
      mcu:
        what: promicro
        where: helper
        params:
          orientation: "up"
          P4: r1
          P5: r2
          P6: r3
          P7: r4
          P8: r5
          P9: c1
          P21: c2
          P20: c3
          P19: c4
          P18: c5
          P15: c6
          P10: DATA
        adjust:
          rotate: -90
      trrs:
        what: ceoloide/trrs_pj320a
        where: trrs
        params:
          reversible: false
          symmetric: false
          TP: "VCC"
          R1: "GND"
          R2: "DATA"
          SL: "GND"
        adjust:
          rotate: -90
          shift: [trrsw/2, 0]
      reset:
        what: button
        where: reset_switch
        params:
          from: GND
          to: RST

cases:
